[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
holiday-jp = "*"
pytz = "*"
types-pytz = "*"

[dev-packages]
black = "*"
coverage = "*"
flake8 = "*"
flake8-docstrings = "*"
mypy = "*"
typing-extensions = "*"

[requires]
python_version = "3.13"

[pipenv]
allow_prereleases = true
