---
name: main branch
"on":
  push:
    branches:
      - main

jobs:
  deploy-cdk:
    permissions:
      contents: read
      id-token: write
    uses: ./.github/workflows/run-deploy-pages.yaml
    secrets:
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
      CERTIFICATE_ARN: ${{ secrets.CERTIFICATE_ARN }}
      HOSTED_ZONE_ID: ${{ secrets.HOSTED_ZONE_ID }}
